html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .top-nav{
    width: 1200px;
    height: 100px;
    background-color: #000;
  }
  
  .nav-item{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    left: 250px;
  }
  
  .nav-item1{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    left: 400px;
  }
  
  .nav-item2{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    left: 550px;
  }
  
  .nav-item3{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    left: 700px;
  }
  
  .nav-item4{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    left: 850px;
  }
  
  .nav-item5{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    left: 1000px;
  }
  
  .overlay-item{
    position: absolute;
    font-size: 2em;
    font-weight: 900;
    top: 200px;
    left: 100px;
  }
  
  .overlay-item1{
    position: absolute;
    font-size:1em;
    top: 250px;
    left: 100px;
  }
  
  .overlay-item2{
    position: absolute;
    font-size:1.2em;
    top: 310px;
    left: 100px;
  }
  
  .button{
    position: absolute;
    height: 60px;
    width: 150px;
    background-color: #000;
    top: 350px;
    left: 100px;
  }
  
  .button-text{
    color: #fff;
    text-align: center;
  }
  
  .button1{
    position: absolute;
    height: 60px;
    width: 150px;
    background-color: #000;
    top: 350px;
    left: 300px;
  }
  
  .button-text1{
    color: #000;
    text-align: center;
  }